# Dependency directories
node_modules/
Group-6-IOT-Server/node_modules/

# Local guides, runtime logs & presentations (Kept locally on machine, not for merge)
Group-6-IOT-Server/docs/
Group-6-IOT-Server/logs/
Group-6-IOT-Server/test.md
Group-6-IOT-Server/readme_to_connect.md

# OS metadata
Thumbs.db
.DS_Store

